*
vendor/
!*/
!/_config.yml
!/.gitignore
!.gitkeep
!/Gemfile
!/Gemfile.lock
!/Makefile
!/bin/*.sh
!/.bundle/config
!/*.html
!/*.md
!/_includes/*.html
!/_layouts/*.html
!/_data/*.yml
!/blog/*.html
!/_posts/*.md
!/_i18n/*.yml
!/_i18n/**/*.md
!/_i18n/**/*.html
!/files/**/*
!/images/**/*
!/assets/*.css
