-
  var projects = [
    {
      title: "Micro-Versioning Tool",
      image: "images/chi2017.jpg",
      links: [
        {
          type: "fa-link",
          url: "./micro-versioning-tool/index.html"
        },
        {
          type: "fa-book",
          modal: true,
          url: "#publications_modal_0"
        },
        {
          type: "fa-book",
          modal: true,
          url: "#publications_modal_1"
        }
      ]
    },
    {
      title: "Tutorial Generation from Unit Tests",
      image: "images/ipsj.png",
      links: [
        {
          type: "fa-book",
          modal: true,
          url: "#publications_modal_2"
        },
        {
          type: "fa-book",
          url: "files/automatic-generation-of-tutorial-from-unit-tests.pdf"
        }
      ]
    }
  ]
  var activities = [
    {
      title: {
        en: "Competitive Programming",
        ja: "競技プログラミング"
      },
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/procon-workspace"
        }
      ]
    }
  ]
  var reproductions = [
    {
      title: "Machine Learning for Programming",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/mlprogram"
        }
      ]
    },
    {
      title: "nnabla-ggnn",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/nnabla-ggnn"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/01258f4bac443e7e86ec"
        }
      ]
    },
    {
      title: "deep-coder",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/deep-coder"
        }
      ]
    }
  ]
  var repositories = [
    {
      title: "vscode-micro-versioning-systems",
      image: "https://github.com/HiroakiMikami/micro-versioning-systems/blob/master/images/screenshot.png?raw=true",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/micro-versioning-systems"
        }
      ]
    },
    {
      title: "translator-plus-dictionary",
      image: "https://hiroakimikami.github.io/atom-translator-plus-dictionary/screenshot.gif",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-translator-plus-dictionary"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/7620023e6a870ac17e90"
        }
      ]
    },
    {
      title: "atom-clang-tools-extra",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-clang-tools-extra"
        }
      ]
    },
    {
      title: "atom-user-support-helper",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-user-support-helper"
        }
      ]
    },
    {
      title: "gnuplot-streaming",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/gnuplot-streaming"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/gnuplot-streaming"
        }
      ]
    },
    {
      title: "auto-git-commit",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/auto-git-commit"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/auto-git-commit"
        }
      ]
    },
    {
      title: "latex-with-markdown",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/generator-latex-with-markdown"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/c02e845f7d7f4e2a6e9c"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/generator-latex-with-markdown"
        }
      ]
    },
    {
      title: "docker-makerbot-desktop",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/docker-makerbot-desktop"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/8c22918edcada1ec2aba"
        }
      ]
    },
    {
      title: "pdiff",
      image: "https://hiroakimikami.github.io/pdiff/screenshot.png",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/pdiff"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/pdiff"
        }
      ]
    },
    {
      title: "atom-alloy",
      image: "https://hiroakimikami.github.io/atom-alloy/atom-alloy.gif",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-translator-plus-dictionary"
        }
      ]
    },
    {
      title: "extended-dmenu",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/extended-dmenu"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/extended-dmenu"
        }
      ]
    }
  ]
