-
  var publications = [
    {
      title: "Micro-Versioning Tool to Support Experimentation in Exploratory Programming",
      location: "2017 SIGCHI Conference on Human Factors in Computer Systems (CHI 2017)",
      resources: [
        {
          text: "PDF",
          url: "./files/micro-versioning-tool.pdf"
        },
        {
          text: "Video",
          url: "https://www.youtube.com/watch?v=THHwelAo0aY"
        },
        {
          text: "Download",
          url: "https://doi.org/10.1145/3025453.3025597"
        }
      ]
    },
    {
      title: "単純さと高機能性を両立した小規模バージョン管理ツール",
      location: "23rd Workshop on Interactive Systems and Software (WISS 2015)",
      resources: [
        {
          text: "PDF",
          url: "http://www.wiss.org/WISS2015Proceedings/oral/11.pdf"
        }
      ]
    },
    {
      title: "単体テストを用いたチュートリアルの自動生成手法",
      location: "情報処理学会論文誌プログラミング（PRO）Vol.8 No.4",
      resources: [
        {
          text: "Download",
          url: "https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=146453&item_no=1&page_id=13&block_id=8"
        }
      ]
    }
  ]
