extends src/main.pug

block language
    -
        var language = "en"

block bio
    | Master course (2nd grade) student at Igarashi laboratory, <br />
    | Dept. of Computer Science, Graduate School of Information Science and Technology, the University of Tokyo

block interest
    | I am interested in programming environment, especialy
    ul
        li software maintenance
        li and software prototyping.
