extends ./index/main.pug

block language
  -
    var language = "ja"

block bio
  div.LI-profile-badge(data-version="v1", data-size="medium", data-locale="ja_JP", data-type="horizontal",
                       data-theme="light", data-vanity="hiroaki-mikami-69084b142")
    a.LI-simple-link(href='https://jp.linkedin.com/in/hiroaki-mikami-69084b142/ja?trk=profile-badge') 三上 裕明

block interest
  | パフォーマンスが重要なソフトウェアの開発に興味があります。例：
  ul
    li 組み込みプログラミングでのリアルタイム性の確保
    li 各種のパフォーマンスチューニング、最適化の技術
  | また、開発を支援するための開発環境にも興味があり、最近は機械学習技術を前提としたプログラミング言語やプログラムの書き方に注目しています。
