extends ./src/main.pug

block language
    -
        var language = "ja"

block bio
    h4 現在
    p 東京大学大学院情報理工学系研究科コンピュータ科学専攻 五十嵐研究室所属 (2015/4 ~)

block interest
    | 開発環境，特にソフトウェアの保守管理やプロトタイピングに興味があります．
