extends index/main.pug

block language
  -
    var language = "en"

block bio
  div.LI-profile-badge(data-version="v1", data-size="medium", data-locale="en_US", data-type="horizontal",
                       data-theme="light", data-vanity="hiroaki-mikami-69084b142")
    a.LI-simple-link(href='https://jp.linkedin.com/in/hiroaki-mikami-69084b142?trk=profile-badge') Hiroaki Mikami

block interest
  | I'm interested in programming environments and programming experience to support for developing software.
  | Especially I give attention to programming languages and programming approaches based on machine learning techniques.
