extends ./src/main.pug

block language
    -
        var language = "ja"

block bio
    div.LI-profile-badge(data-version="v1", data-size="medium", data-locale="ja_JP", data-type="horizontal",
                         data-theme="light", data-vanity="hiroaki-mikami-69084b142")
        a.LI-simple-link(href='https://jp.linkedin.com/in/hiroaki-mikami-69084b142/ja?trk=profile-badge') 三上 裕明

block interest
    | 開発環境，特にソフトウェアの保守管理やプロトタイピングに興味があります．
