-
  var strings = {
    abstract: {
      en: "Abstract",
      ja: "概要"
    },
    video: {
        en: "Video",
        ja: "ビデオ"
    },
    prototype: {
        en: "Prototype",
        ja: "プロトタイプ"
    },
    install: {
        en: "Install",
        ja: "インストール"
    },
    usage: {
        en: "Usage",
        ja: "使用方法"
    },
    publications: {
        en: "Publications",
        ja: "発表文献"
    },
    hiroakimikami: {
        en: "Hiroaki Mikami",
        ja: "三上 裕明"
    },
    daisukesakamoto: {
        en: "Daisuke Sakamoto",
        ja: "坂本 大介"
    },
    takeoigarashi: {
        en: "Takeo Igarash",
        ja: "五十嵐 健夫"
    },
    univtokyo: {
        en: "The University of Tokyo",
        ja: "東京大学"
    }
  }
