.japan {
  background: url('./national-flags/jp.png');
  background-size: cover;
  width: 1em;
  height: 0.75em;
}
.qiita {
  background: url('../images/Qiita/qiita-favicon.png');
  background-size: cover;
  width: 0.75em;
  height: 0.75em;
}
.npm {
  background: url('../images/npm-logos/npm square/n-large.png');
  background-size: cover;
  width: 0.75em;
  height: 0.75em;
}
