// Footer
div(class="navbar navbar-default navbar-fixed-bottom" role="navigation")
  div.container
    div.btn-group(style="display: ''")
      a(class="btn btn-default", href="https://twitter.com/hiroaki8270")
        +twitterIcon("2x")
        span Twitter
      a(class="btn btn-default", href="https://www.linkedin.com/in/hiroaki-mikami-69084b142/")
        span LinkedIn &reg;
      a(class="btn btn-default", href="https://github.com/HiroakiMikami")
        +githubIcon("2x")
        span Github
