block language
  -
    var language = "en"

include ../pug/icons.pug
include ./layout/components.pug

include ./data/strings.pug
include ./data/projects.pug
include ./data/publications.pug

doctype html
html(lang=language)
  include ./layout/head.pug
  body
    include ./header.pug
    include ./content.pug
    include ./footer.pug
