-
  var projects = [
    {
      title: "Micro-Versioning Tool",
      image: "images/chi2017.jpg",
      tags: ["Research", "Text Editor"],
      links: [
        {
          type: "fa-link",
          url: "./micro-versioning-tool/index.html"
        },
        {
          type: "fa-book",
          modal: true,
          url: "#publications_modal_0"
        },
        {
          type: "fa-book",
          modal: true,
          url: "#publications_modal_1"
        }
      ]
    },
    {
      title: "translator-plus-dictionary",
      image: "https://hiroakimikami.github.io/atom-translator-plus-dictionary/screenshot.gif",
      tags: ["Atom"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-translator-plus-dictionary"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/7620023e6a870ac17e90"
        }
      ]
    },
    {
      title: "Tutorial Generation from Unit Tests",
      image: "images/ipsj.png",
      tags: ["Research", "Programming Tool"],
      links: [
        {
          type: "fa-book",
          modal: true,
          url: "#publications_modal_2"
        },
        {
          type: "fa-book",
          url: "files/automatic-generation-of-tutorial-from-unit-tests.pdf"
        }
      ]
    }
  ]
  var repositories = [
    {
      title: "atom-clang-tools-extra",
      tags: ["Atom", "clang"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-clang-tools-extra"
        }
      ]
    },
    {
      title: "atom-user-support-helper",
      tags: ["Atom"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-user-support-helper"
        }
      ]
    },
    {
      title: "gnuplot-streaming",
      tags: ["gnuplot", "Command Line Tool"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/gnuplot-streaming"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/gnuplot-streaming"
        }
      ]
    },
    {
      title: "auto-git-commit",
      tags: ["Git", "Command Line Tool"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/auto-git-commit"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/auto-git-commit"
        }
      ]
    },
    {
      title: "latex-with-markdown",
      tags: ["Template", "Yeoman", "LaTeX"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/generator-latex-with-markdown"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/c02e845f7d7f4e2a6e9c"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/generator-latex-with-markdown"
        }
      ]
    },
    {
      title: "docker-makerbot-desktop",
      tags: ["Docker", "3D Printer"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/docker-makerbot-desktop"
        },
        {
          type: "qiita",
          url: "https://qiita.com/MikamiHiroaki/items/8c22918edcada1ec2aba"
        }
      ]
    },
    {
      title: "pdiff",
      tags: ["Command Line Tool", "npm"],
      image: "https://hiroakimikami.github.io/pdiff/screenshot.png",
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/pdiff"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/pdiff"
        }
      ]
    },
    {
      title: "atom-alloy",
      image: "https://hiroakimikami.github.io/atom-alloy/atom-alloy.gif",
      tags: ["Atom"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/atom-translator-plus-dictionary"
        }
      ]
    },
    {
      title: "extended-dmenu",
      tags: ["npm", "Command Line Tool", "Application Launcher"],
      links: [
        {
          type: "fa-github",
          url: "https://github.com/HiroakiMikami/extended-dmenu"
        },
        {
          type: "npm",
          url: "https://www.npmjs.com/package/extended-dmenu"
        }
      ]
    }
  ]
