-
  var strings = {
    name: {
      en: "Hiroaki Mikami",
      ja: "三上 裕明"
    },
    profile: {
      en: "Profile",
      ja: "プロフィール"
    },
    projects: {
      en: "Projects",
      ja: "プロジェクト"
    },
    publications: {
      en: "Publications",
      ja: "発表文献"
    },
    contact: {
      en: "Contact",
      ja: "コンタクト"
    },
    mail: {
      en: "Mail",
      ja: "メール"
    },
    link: {
      en: "Links",
      ja: "リンク"
    },
    bio: {
      en: "Short Bio",
      ja: "略歴"
    },
    interest: {
      en: "Research Interest",
      ja: "興味のある分野"
    },
    repositories: {
      en: "Small Projects (Repositories)",
      ja: "小さなプロジェクト（レポジトリ）"
    }
  }
