head
  // Meta Information
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Title
  title #{strings[language]}

  // jQuery
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

  // Bootstrap
  link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
  script(src="bootstrap/js/bootstrap.min.js")

  // LinkedIn Budge
  script(src="https://platform.linkedin.com/badges/js/profile.js" async defer)

  // Font Awesome
  link(href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

  // Icons
  link(href="css/icon.css", rel="stylesheet")
